mixin main
    section
        .main
            .container.container--lg
                .row
                    .col-12
                        .main__wrapper
                            p.main__heading Willow Crest